*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6, {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
body {
    font-family: Rubik;
    font-size: 12px;
    color: #616161;
}
/* --------------------------------------- */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* --------------------------------------- */

.main{
    flex: 1 1 auto;
}

[class*="_container"] {
    max-width: 1087px;
    margin: 0px auto;
    padding: 0px 15px;
}

/* PC */
@media (max-width: 1087px) {
    [class*="_container"] {
        max-width: 970px;
    }
}

/* TABLET */
@media (max-width: 991.98px) {
    [class*="_container"] {
        max-width: 750px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    [class*="_container"] {
        max-width: none;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {

}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header_container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header_logo {
    position: relative;
    z-index: 5;
}
.header_menu {
    flex: 1 1 auto;
}
.header_button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 0px 40px 0px 0px;
}
.menu_list {
    display: flex;
}
.menu_item {
    margin: 0px 40px 0px 0px;
}

.menu_link {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    color: black;
    letter-spacing: 1px;
}

.menu_link:hover {
    text-decoration: underline;
}

.header_button {
    position: relative;
    z-index: 5;
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 991.98px) {
    .header_container {
        min-height: 80px;
    }
    .header_button {
        flex: 0 0 170px;
    }
    .menu_item {
        margin: 0px 30px 0px 0px;
    }
}

@media (max-width: 767.98px) {
    .menu_body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 90px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }
    .header:target .menu_body {
        left: 0;
    }
    .header:target .menu_body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: #fff;
    }
    .menu_list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu_item {
        margin: 0px 0px 25px 0px;
    }
    .menu_item:last-child {
        margin-bottom: 0;
    }
    .menu_link {
        color: black;
        font-size: 20px;
    }

    .header_button  .button{
        padding: 14px 30px;
    }    
}
@media (max-width: 479.98px) {
    .header_logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
}
/* ------------------------------ */
.button {
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #fcfdfe;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: #EC5863;
    transition: background-color 0.3s ease 0s;
}

.button:hover {
    background-color: #EC5863;
}

.button_blue {
    background-color: #4285f4;
}

.button_blue:hover {
    background-color: #4285f4;
}

/* ------------------------------- */
.close-icon-menu,
.icon-menu {
    display: none;
}
@media (max-width: 767.98px) {
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 20px;
    }
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: black;
        height: 2px;
    }

    .icon-menu span {
        background-color: black;
        height: 2px;
    }

    .close-icon-menu {
        flex: 0 0 30px;
        height: 30px;
        position: relative;
        margin: 0px 0px 0px 20px;
    }

    .close-icon-menu::before,
    .close-icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
    }
    .close-icon-menu::before {
        transform: rotate(45deg);
    }
    .close-icon-menu::after {
        transform: rotate(-45deg);
    }
    .header:target .icon-menu {
        display: none;
    }
    .header:target .close-icon-menu {
        display: flex;
    }
}

/* ================================================================================= */

.block-text {
}

.block-text_title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000;
}
.block-text_title:not(:last-child) {
    margin: 0px 0px 12px 0px;
}
.block-text_title span {
    color: #EC5863;
}
.block-text_title_blue span {
    color: #4285f4;
}

.block-text_text {
    line-height: 138.5%;
}
.block-text_text:not(:last-child) {
    margin: 0px 0px 24px 0px;
}

.block-text_button {
}

@media (max-width: 767.98px) {
    .block-text_title {
        font-size: 34px;
    }
}

/* ================================================================================= */

.get-started {
    background-color: #fafbfd;
}
.get-started_container {
    padding: 150px 15px 50px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}
.get-started_container::before {
    transform: translate(100%, 0px);
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 267px;
    top: 0;
    background-color: #ec5863;
    border-radius: 30px 0px 0px 30px;
}

.get-started_content {
    flex: 0 1 48%;
    padding: 0px 20px;
}
.get-started_block-text {
    max-width: 410px;
}

.button {

}
.get-started_video {

}
.get-started_video {
    flex: 1 1 100%;
    margin: 60px 0px 0px 20px;
}

.get-started_image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}

.get-started_image img {
    max-width: 100%;
}

.video-get-started {
    display: inline-flex;
    align-items: center;
}
.video-get-started_icon {
    flex: 0 0 44px;
}
.video-get-started_body {
    padding: 0px 0px 0px 12px;   
}
.video-get-started_title {
    color: #b0b0b0;
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 1.5px;
}
.video-get-started_title:not(:last-child) {
    margin: 0px 0px 5px 0px;
}
.video-get-started_text {
    font-size: 9px;
    line-height: 126%;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 2px;
}
@media (max-width: 991.98px) {
    .get-started_container::before {
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
}

@media (max-width: 767.98px) {
    .get-started_container {
        padding: 100px 15px 30px 15px;
    }
    .get-started_container::before {
        display: none;
    }
    .get-started_block-text {
        max-width: none;
    }
    .get-started_content {
        flex: 1 1 100%;
        padding: 0;
    }
    .get-started_image {
        flex: 1 1 100%;
        text-align: center;
        padding: 30px 0;
    }
    .get-started_video {
        padding: 0;
    }
}

/* ============================================================================= */
.stay-safe {
    padding: 80px 0px;
}
.stay-safe_container {
    display: flex;
    align-items: center;
}
.stay-safe_media {
    flex: 0 1 50%;
    padding: 0px 0px 0px 47px;
}
.stay-safe_content {
    flex: 0 1 50%;
}
.stay-safe_block-text {
    
}
.media-stay-safe {
    width: 373px;
    text-align: center;
    position: relative;
    padding: 56px 0px 27px 0px;
}

/*.media-stay-safe_image {
    display: inline-block;
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    position: relative;
}*/

.media-stay-safe_image img {
    position: relative;
    z-index: 2;
}
.media-stay-safe_image::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 12px;
    width: 206;
    height: 27px;
    background: rgba(240, 240, 240, 0.49);
    border-radius: 16px;
    z-index: 2;
}

.media-stay-safe_item {
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
    width: 77px;
    height: 77px;
}

.media-stay-safe_item_1 {
    top: 680px;
    left: 405px;
    width: 147px;
    height: 147px;
    border-radius: 30px;
    
}

.media-stay-safe_item_2 {
   top: 1150px;
   left: 440px;
   width: 77px;
   height: 77px;
}

.media-stay-safe_item_3 {
    right: 34;
    width: 77px;
    width: 77px;
    top: 1000px;
    left: 680px;
}
